<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.122.0">
    <title>OSSEG/LOGIN</title>
    <script src="../public/js/main.js"></script>
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f8f9fa; /* Color de fondo ajustado */
        }

        .form-signin {
            width: 100%;
            max-width: 400px;
            padding: 15px;
            margin: auto;
            background-color: #e0d9d9;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .form-control {
            background-color: #ffffff;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            box-shadow: none;
            margin-bottom: 1rem; /* Espacio entre los campos de entrada */
        }

        .form-floating label {
            color: #495057;
        }

        .osseg-logo {
            width: 170px;
            height: auto;
        }
    </style>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin">
        <form action="/login" method="post" class="p-4">
            <img class="mb-4 mx-auto d-block osseg-logo" src="./OSSEG_22.webp" alt="OSSEG Logo" width="200" height="150">
            <h1 class="h3 mb-3 fw-normal text-center">Iniciar sesión</h1>
            <% if (error) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
        
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Correo electrónico" autocomplete="email" required>
            </div>
            
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Contraseña" autocomplete="current-password" required>
            </div>
        
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Recuérdame
                </label>
            </div>
        
            <button class="btn btn-primary w-100 py-2" type="submit">Iniciar sesión</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; Beeneu, 2024.</p>
        </form>
    </main>

    <script>
         
// Función para mostrar mensajes de alerta
const showMessage = (message, type = 'success') => {
    const div = document.createElement('div');
    div.textContent = message;
    div.className = `alert alert-${type}`;
    document.body.appendChild(div);

    setTimeout(() => {
        document.body.removeChild(div);
    }, 3000);
};

// Escuchar eventos de inicio de sesión exitoso
document.addEventListener('DOMContentLoaded', () => {
    const loginForm = document.getElementById('loginForm');
    
    loginForm.addEventListener('submit', async (event) => {
        event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

        try {
            const formData = new FormData(loginForm);
            const response = await fetch('/login', {
                method: 'POST',
                body: formData
            });

            const data = await response.json();

            if (data.success) {
                // Mostrar mensaje de éxito utilizando showMessage
                showMessage(data.message, 'success');
                // Redirigir al usuario u otra acción si es necesario
                window.location.href = '/osseg_seguimiento';
            } else {
                // Mostrar mensaje de error si no se pudo iniciar sesión
                alert('Error de autenticación: ' + data.message);
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Ocurrió un error al intentar iniciar sesión. Inténtelo de nuevo más tarde.');
        }
    });
});

       window.addEventListener('DOMContentLoaded', function() {
        fetch('/verify-recaptcha', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ token: '6LfeavUpAAAAAFCwBdBowq5GBVcSuJxaMfr2B8uY' }) // Envía el token de reCAPTCHA v3 al servidor
        }).then(function(response) {
            // Maneja la respuesta del servidor
            if (response.ok) {
                console.log('reCAPTCHA verification successful.');
          } else {
                console.error('reCAPTCHA verification failed.');
            }
       }).catch(function(error) {
            console.error('Error al verificar reCAPTCHA:', error);
       });
    });


    document.addEventListener('DOMContentLoaded', function() {
            // Verificar si hay un estado "recuérdame" guardado en localStorage
            const rememberMeCheckbox = document.getElementById('flexCheckDefault');
            const loginForm = document.getElementById('loginForm');
            
            // Cargar el estado del checkbox desde localStorage
            if (localStorage.getItem('rememberMe') === 'true') {
                rememberMeCheckbox.checked = true;
                // También puedes establecer el valor del campo de correo electrónico si lo guardaste previamente
                // document.getElementById('inputEmail').value = localStorage.getItem('email');
            }

            // Evento para guardar el estado del checkbox en localStorage cuando cambia
            rememberMeCheckbox.addEventListener('change', function() {
                localStorage.setItem('rememberMe', this.checked);
                // También puedes guardar el valor del campo de correo electrónico si lo deseas
                // localStorage.setItem('email', document.getElementById('inputEmail').value);
            });

            // Evento para limpiar localStorage al enviar el formulario si "Recuérdame" no está marcado
            loginForm.addEventListener('submit', function() {
                if (!rememberMeCheckbox.checked) {
                    localStorage.removeItem('rememberMe');
                    // También puedes eliminar el valor guardado del campo de correo electrónico si lo deseas
                    // localStorage.removeItem('email');
                }
            });
        });
    </script>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

 
</body>
</html>
